body {
    margin: 0;
}
img {
    height: 378px;
    left: 50%;
    margin-left: -320px;
    margin-top: -189px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#bg {
    background: black none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#prog {
    background: rgba(0, 0, 0, 0) url("img/bar.png") no-repeat scroll 0 bottom;
    color: #fff;
    font-family: arial;
    font-size: 12px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -162px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 324px;
    z-index: 2;
}
#prog span {
    font-family: "宋体";
}
#bar {
    background: rgba(0, 0, 0, 0) url("img/bar_line.gif") repeat-x scroll 0 0;
    bottom: 2px;
    height: 16px;
    left: 2px;
    overflow: hidden;
    position: absolute;
    width: 0;
}